@font-face {
  font-family: 'Now';
  src: url('./fonts/now-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('./fonts/now-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('./fonts/now-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('./fonts/now-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('./fonts/now-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('./fonts/now-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

body{
    font-family: 'Now', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(1deg, rgb(234, 248, 254) 0%, rgb(237, 254, 244) 100%);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-inline: 15px;
    margin-inline: auto;
}
/* small */

/* medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* medium */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.custombtn{
  background: linear-gradient(to right, #00ded8, #00a7d5);  
  box-shadow:0 0 0 5px #c8eaf5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-width: 150px;
  min-height: 50px;
  border-radius: 40px;    
  border: none;
}

/* -- Start Navbar --*/
nav{
  background-color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: relative;
}
.main-nav{
  display: flex;
}
.logo{
  height: 50px;
}
.nav-links{
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}
.nav-links > li> a{
  color: #666;
}
.nav-actions{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.bar{
  min-width: 40px;
  min-height: 40px;
  background: linear-gradient(to right, #00ded8, #00a7d5);  
  border-radius: 4px;
  border: none;
  display: none;
  flex-shrink: 0;
  margin-left: 40px;
}
.bar-icon{
  color: white;
  font-size: 20px;
}
@media (min-width:992px) {
  .nav-actions .custombtn{
    margin-left: 30px;
  }
}
@media (max-width:992px) {
  .nav-links{
    display: none;
  }
  .bar{
    display: block;
  }
  .main-nav{
    justify-content: flex-end;
  }
  .nav-actions .bar{
      margin-left: 20px;
  }
  .header{
    padding-inline: 20px;
}
}
@media (max-width:425px) {
  .nav-actions .custombtn{
    display: none;
  }
}
/* -- End Navbar --*//* footer start */
ul{
  list-style: none;
  padding: 0;
}
a{
    text-decoration: none;
}
#footer{
    width: 100%;
}

.footer-content{
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  gap: 40px;
  color: #525252;
}
.footer-content a{
    color: #525252;
}

.footer-services ul li,.footer-useful-links ul li{
    padding: 0.5rem 0;
}

.social-links{
    width: 50%;
    display: flex;
    gap: 10px;
}
.social-links i{
    background: linear-gradient(#00b3d6, #00ded8);
    background-clip:text;
    color: transparent;
    padding: 1rem 0;
    transform: scale(1.2);
}
.footer-contact-info p i{
    padding-right: 1rem;
}
.copyright{
    color: #525252;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
@media (min-width:768px) and (max-width:992px){
    .footer-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        padding: 1rem;
        gap: 10px;
    }
    .footer-text p{
        width: 70%;
    }
}
@media (max-width:768px){
    .footer-content{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 10px;
    }
    .footer-text p{
        width: 70%;
    }
}
/* footer end */
